$color-white: #FFFFFF;

$color-text: #242424;
$color-text-light: #404040;
$color-error: #CC3333;

$color-header-bg: #212121;
$color-body-bg: #C2C2C2;
$color-inventory-bg: #D3D3D3;
$color-autocomplete-bg: #F3F3F3;
$color-autocomplete-border: #C2C2C2;
$color-footer-bg: #242424;
$color-progress-bar: $color-white;
$color-progress-bar-bg: rgba($color-white, 0.25);

$color-field-bg: rgba($color-white, 0.25);
$color-field: $color-white;
$color-item-active: rgba(#FFFF00, 0.5);

$header-height: 4rem;
$inventory-header-height: 1.875rem;
$money-height: 2.194444rem;
$controls-height: (8rem / 3) - 0.5rem;
$footer-height: 4rem;

* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	min-height: 100%;
}

body {
	background-color: $color-body-bg;
	color: $color-text;
	font-family: Arial, sans-serif;
	min-height: 100%;
	padding-top: $header-height;
	padding-bottom: $footer-height;
}

.row {
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	@extend %clearfix;
}

.field {
	background-color: $color-field-bg;
	border: none;
	color: $color-field;
	font-size: 1rem;
	height: 1.25rem;
	height: calc(1.25rem - 1px);
	max-width: 100%;
	padding-right: 0;
	padding-left: 0.25rem;

	&[type="number"][readonly] {
		-moz-appearance: textfield;
		appearance: textfield;
		padding-right: 0.25rem;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
	}

	option {
		color: $color-text;
	}
}

.character,
.inventory,
.total {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.character {
	background-color: $color-header-bg;
	color: $color-white;
	height: $header-height;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	@extend %clearfix;

	&__score,
	&__size-multiplier,
	&__multiplier,
	&__capacity {
		float: left;
		padding-right: 1rem;
		width: 25%;

		&--label, &--field {
			display: block;
		}

		&--label {
			margin-bottom: 0.375rem;
		}

		&--field {
			text-align: center;

			&::placeholder {
				color: rgba($color-field, 0.75);
				font-size: 0.9em;
				font-style: italic;
			}
		}
	}

	&__score {
		width: 20%;
	}

	&__size-multiplier {
		width: 40%;
	}

	&__multiplier {
		width: 25%;
	}

	&__capacity {
		padding-right: 0;
		width: 15%;

		&--field {
			padding-right: 0.25rem;
			text-align: right;
		}
	}
}

.inventory {
	padding-top: $inventory-header-height;
	padding-bottom: $controls-height + $money-height;
	@extend %clearfix;

	&__header,
	&__item {
		padding-top: 0.375rem;
		padding-bottom: 0.375rem;
		@extend %clearfix;
	}

	&__header {
		background-color: $color-body-bg;
		height: $inventory-header-height;
		padding-top: 0.5rem;
		position: fixed;
		top: $header-height;
		right: 0;
		left: 0;
		z-index: 80;
	}

	&__item {
		&.sample {
			display: none;
		}

		&.active {
			box-shadow: inset 0 0 2rem $color-item-active;
		}

		&:nth-of-type(even) {
			background-color: rgba($color-white, 0.25);
		}

		&--name,
		&--weight,
		&--quantity,
		&--subtotal {
			float: left;
			padding-right: 1rem;

			&--label {
				display: none;
			}

			&--field {
				background-color: rgba($color-white, 0.5);
				color: $color-text;
				width: 100%;

				&::placeholder {
					color: rgba($color-text, 0.75);
					font-size: 0.9em;
					font-style: italic;
				}
			}
		}

		&--name {
			width: 50%;
		}

		&--weight,
		&--quantity {
			position: relative;
			width: 17.5%;

			&--field {
				padding-right: 0;
				padding-left: 0;
				text-align: center;
			}

			&--unit {
				position: absolute;
				top: 0;
				display: none;
				line-height: 1.25rem;
				line-height: calc(1.25rem - 1px);
			}
			&--field:not(:placeholder-shown) ~ &--unit {
				display: block;
			}
		}

		&--weight {
			&--field {
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}

				&:not(:placeholder-shown) {
					padding-right: 1.625rem;
					text-align: right;
				}
			}

			&--unit {
				right: 1rem + 0.25rem;
			}
		}

		&--quantity {
			&--field {
				text-align: center;

				&:not(:placeholder-shown) {
					padding-left: 0.5rem;
				}
			}

			&--unit {
				left: 0.375rem;
			}
		}

		&--subtotal {
			padding-right: 0;
			width: 15%;

			&--field {
				padding-right: 0.25rem;
				text-align: right;
				width: auto;
			}
		}
	}

	&__money {
		background-color: $color-body-bg;
		height: $money-height;
		margin-right: auto;
		margin-left: auto;
		padding: 0.5rem 0.75rem;
		text-align: center;
		position: fixed;
		right: 0;
		bottom: $footer-height + $controls-height;
		left: 0;
		z-index: 80;

		&--copper,
		&--silver,
		&--electrum,
		&--gold,
		&--platinum,
		&--subtotal {
			float: left;

			&--field {
				background-color: rgba(255, 255, 255, 0.5);
				color: #242424;
				text-align: center;
				width: 100%;

				
			}
			&--field:not(:placeholder-shown) ~ &--unit {
				display: block;
			}

			&--unit {
				display: none;
				line-height: 1.25rem;
				line-height: calc(1.25rem - 1px);
				position: absolute;
				top: 0;
				right: 1rem + 0.25rem;
			}
		}

		&--copper,
		&--silver,
		&--electrum,
		&--gold,
		&--platinum {
			padding-right: 1rem;
			position: relative;
			width: 17%;

			&--field {
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}

				&:not(:placeholder-shown) {
					padding-right: 1.875rem;
					text-align: right;
				}
			}
		}

		&--subtotal {
			padding-right: 0;
			width: 15%;

			&--field {
				padding-right: 0.25rem;
				text-align: right;
			}
		}
	}

	&__controls {
		background-color: $color-body-bg;
		height: $controls-height;
		margin-right: auto;
		margin-left: auto;
		padding: 0 0.75rem 0.5rem;
		text-align: center;
		position: fixed;
		right: 0;
		bottom: $footer-height;
		left: 0;
		z-index: 85;

		button {
			background-color: rgba($color-white, 0.75);
			border: none;
			color: $color-text;
			cursor: pointer;
			font-size: 1rem;
			padding: 0.25rem 0.5rem;
		}

		&--symbol {
			display: inline;
		}

		&--word {
			display: none;
		}
	}
}

.autocomplete {
	background-color: $color-autocomplete-bg;
	max-height: 50vh;
	width: 70%;
	overflow: hidden;
	display: none;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 200;

	&.visible {
		display: block;
	}

	&__entry {
		border-bottom: 1px solid $color-autocomplete-border;
		cursor: pointer;
		display: block;
		padding: 0.5rem 0.5rem;
		@extend %clearfix;

		&:last-of-type {
			border-bottom: none;
		}

		&.sample {
			display: none;
		}

		&--name,
		&--weight {
			color: $color-text-light;
			display: block;
			float: left;
			line-height: 0.95rem;
			vertical-align: middle;
		}

		&--name {
			font-size: 0.95rem;
			width: 70%;
		}

		&--weight {
			font-size: 0.85rem;
			text-align: right;
			width: 30%;
		}
	}
}

.total {
	background-color: $color-footer-bg;
	color: $color-white;
	height: $footer-height;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	text-align: left;

	&__progress {
		float: left;
		padding-right: 1rem;
		width: 85%;
		@extend %clearfix;

		&--percentage {
			float: left;
			margin-bottom: 0.375rem;
		}

		&--remaining {
			float: right;
			margin-bottom: 0.375em;
		}

		&--bar {
			background-color: $color-progress-bar;
			clear: both;
			max-width: 100%;
			height: 100%;
			width: 0;
			transition-duration: 0.4s;

			&-background {
				background-color: $color-progress-bar-bg;
				clear: both;
				position: relative;
				height: 1.25rem;
				width: 100%;
			}

			&-error {
				background-color: rgba($color-error, 0.5);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				max-width: 100%;
				height: 100%;
				width: 0;
				transition-duration: 0.4s;
			}
		}
	}

	&__weight {
		float: right;
		width: 15%;

		&--label {
			display: inline-block;
			margin-bottom: 0.375rem;
		}

		&--field {
			padding-right: 0.25rem;
			text-align: right;
		}
	}
}

@media screen and (min-width: 480px) {
	html {
		font-size: 16px;
	}

	.inventory__controls {
		&--symbol {
			display: none;
		}
		&--word {
			display: inline;
		}
	}
}

@media screen and (min-width: 720px) {
	html {
		font-size: 18px;
	}

	.inventory__controls {
		&--symbol {
			display: inline;
		}
	}
}

@media screen and (min-width: 1080px) {
	html {
		font-size: 20px;
	}
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
